$main: #03A678;
$mainLight: #9BBFB9;
$mainDarker: #02735E;
$mainDarkest: #014040;
$accent: #F27405;
$accentDark: #731702;

.appContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: $main;
  padding: 40px;
}

.formContainer {
  background-color: $main;
  display: flex;
  flex-direction: column;
  align-items: center;

  .userLogin {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: 10px;
    width: 380px;

    h2 {
      color: $accent;
      font-weight: bold;
      font-size: 18px;
    }

    input,
    textarea {
      padding: 5px;
      border: none;
      background-color: rgba(0, 0, 0, 0.03);
      color: black;
      // width: 250px;
      border-bottom: 1px solid $accent;

      &::placeholder {
        color: rgb(175, 175, 175);
      }
    }

    .controlButtons {
      display: flex;
      gap: 10px;
    }

    button {
      background-color: #03A678;
      width: 120px;
    }

    span {
      color: black;
      font-size: 14px;
    }
  }

  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: $accent;
      font-weight: bold;
      font-size: 24px;
    }

    .title {
      color: $accent;
      font-weight: bold;
      font-size: 18px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        width: 250px;
        border-bottom: 1px solid $accent;

        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }

      button {
        background-color: $accent;
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }

      label {
        img {
          width: 32px;
          opacity: 0.8;
        }

        display: flex;
        align-items: center;
        gap: 10px;
        color: $accent;
        cursor: pointer;
      }
    }

    p {
      color: $accent;
      font-style: 14px;
      margin-top: 10px;
    }

  }
}



.usersContainer {
  background-color: $main;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  position: relative;


  .usersWrapper {
    background-color: white;
    height: 726px;
    padding: 20px 60px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 500px;
    overflow: scroll;

    .title {
      color: $accent;
      font-weight: bold;
      font-size: 18px;
    }

  }

  .buttonsWrapper {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 20px;
    margin: 10px;

    button {
      background-color: $accent;
      color: white;
      padding: 10px;
      font-weight: bold;
      border: none;
      cursor: pointer;
    }

    span {
      color: black;

    }
  }

  .countWrapper {
    color: white;

    input {
      background-color: transparent;
      color: white;
      border: none;
      width: 50px;
      font-size: 24px;
      border-bottom: 2px solid $mainDarker;
      text-align: center;
      outline: none;
    }
  }
}

.userContainer {
  .userWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid $accent;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: $mainLight;
    }

    img {
      width: 72px;
      height: 72px;
      object-fit: cover;
    }

    .details {

      th {
        font-weight: 200;
        font-size: 12px;
        text-align: right;
      }

      td {
        font-size: 14px;
        padding-left: 10px;
      }
    }
  }
}

.userDetailsContainer {
  background-color: $main;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;

  .userDetailsWrapper {
    background-color: white;
    height: 150px;
    padding: 20px 60px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 500px;
    overflow: scroll;

    .title {
      color: $accent;
      font-weight: bold;
      font-size: 18px;
    }


  }

  .buttonsWrapper {
    display: flex;
    align-items: center;
    color: white;
    gap: 20px;
    margin: 10px;

    button {
      background-color: $accent;
      color: white;
      padding: 10px;
      font-weight: bold;
      border: none;
      cursor: pointer;
    }
  }

  .countWrapper {
    color: white;

    input {
      background-color: transparent;
      color: white;
      border: none;
      width: 50px;
      font-size: 24px;
      border-bottom: 2px solid $mainDarker;
      text-align: center;
      outline: none;
    }
  }
}

.positionsContainer {
  background-color: $main;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;

  .positionsWrapper {
    background-color: white;
    height: 300px;
    padding: 20px 60px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: scroll;
  }

  table {
    text-align: left;
    border-spacing: 0px;

    th,
    td {
      border: none;
      border-bottom: 1px solid $mainLight;
      padding: 10px;
      margin: 0;
    }
  }

  .title {
    color: $accent;
    font-weight: bold;
    font-size: 18px;
  }

}



button {
  background-color: $accent;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

img {
  width: 72px;
  height: 72px;
  object-fit: cover;
}

.adminContainer {
  margin: 10px;


  .adminWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: $mainDarker;
    padding: 10px;
    color: white;



    .red {
      background-color: $accentDark;
      color: white;
    }
  }
}